

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  background: #fafafa;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}


/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}


/* Inherit fonts for inputs and buttons */
button,
textarea,
select {
  font: inherit;
}

/* colors not included in bootstrap. Hence the !important*/
a.text-gray {
  color: rgb(156, 156, 156) !important;
}

/* custom classes */

.logo-text{
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-icon{
    font-size: 1.5rem;
}

.search-input, input.search-input{
  font-style: italic;
  text-align: center;
  border: none;
  padding: 25px 5px;
  height: 2rem !important;
  background-color: rgb(245, 241, 241);
  transition: ease-in-out;
  transition-duration: 600ms;
}

input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: white;
  color: rgb(155, 155, 155);
  transition: ease-in-out;
  transition-duration: 400ms;
}

hr {
  color: rgb(255, 187, 0);
  border: none;
}

     
    